<h2>Assignment 5: ng content ngClass and ngIf</h2>
<app-zippy-assignment title="Billing"
  >Billing details content</app-zippy-assignment
>
<app-zippy-assignment title="Shipping"
  >Shipping details content</app-zippy-assignment
>
<hr />
<app-switch-example></app-switch-example>
<hr />
<app-container-example></app-container-example>
<app-container-example>sign in</app-container-example>
<app-container-example>luke</app-container-example>
<hr />
<app-authors></app-authors>

<h1>App Component</h1>
<button
  mat-raised-button
  color="accent"
  aria-label="Example icon button with a bookmark icon"
>
  <mat-icon>face</mat-icon>
</button>
<br />
<mat-checkbox>Check me!</mat-checkbox>
